.app{width: 1903px;height: 6223px;}
.header{width: 1903px;height: 40px;background: #333;line-height: 40px;}
.home{width: 1903px;height:5584px;background: #F5F5F5;}
.footer{width: 1903px;height:598px;}